/Assignments/Gaddis_8thEd_Ch4_Prob1_MinMax/build/
/Assignments/Gaddis_8thEd_Ch4_Prob1_MinMax/dist/
/Assignments/Gaddis_8thEd_Ch4_Prob5_BMI/build/
/Assignments/Gaddis_8thEd_Ch4_Prob5_BMI/dist/
/Assignments/Gaddis_8thEd_Ch4_Prob6_Mass&Weight/build/
/Assignments/Gaddis_8thEd_Ch4_Prob6_Mass&Weight/dist/
/Assignments/Gaddis_8thEd_Ch4_Prob7_TimeCalculator/dist/
/Assignments/Gaddis_8thEd_Ch4_Prob7_TimeCalculator/build/
/Assignments/Gaddis_8thEd_Ch4_Prob8_ColorMixer/build/
/Assignments/Gaddis_8thEd_Ch4_Prob8_ColorMixer/dist/